@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Lato, sans-serif;
    background-color: whitesmoke;
}

#nav-logo {
    color: orange;
}

.my-padding-scroll {
    padding-top: 100px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: orange;
}

img.img-sizing {
    max-height: 340px;
}

img.img-thumbnail {
    max-height: 200px;
}
